h1{
    color:purple;
    text-align: center;
    font-size: 55pt;
}
ol{
    color:navy;
    margin-left: 40%;
    margin-right:40%
}
li{
    font-size: large;
}
.images{
    text-align: center;
}

.car_image{
    width:34%;
    padding:1%;
    background-color: hotpink;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}

#declaration{
    text-indent:5%;
    background-color: lightpink;
    font-family:Snell Roundhand;

}

span{
    color:red;

}